<html lang="en">
<!-- head tag starts here -->
<%- include('./partials/head.ejs') %>
<!-- head tag ends here -->
<body>
    <div class="container">
        <h1><center> Welcome to Archive </center></h1>
    </div>
    <!-- Navigation section starts -->
    <%- include('./partials/nav.ejs') %>
    <!-- Navigation section end-->
</body>
</html>