<html lang="en">
<!-- head tag starts here -->
<%- include('../partials/head.ejs') %>
<!-- head tag ends here -->
<body>
    <div class="container">
        <h1>Contributors</h1>
        <h3>A very big thank you to all our contributors</h3>
    </div>
</body>
</html>