<html lang="en">
<!-- head tag starts here -->
<%- include('../partials/head.ejs') %>
<!-- head tag ends here -->
<body>
    <div class="container">
        <h1>Become a contributor</h1>
        <h3>Your input has a contributor is well appreciated</h3>
    </div>
</body>
</html>